@use '../base/mixvars' as *;

body {
  color: $white;  
  padding: 2em 0 0 2em;
  background-color: $dark-blue;
  background-repeat: no-repeat;
}

a {
  color: $white  
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .home-body, 
  .body-technology, 
  .body-destination, 
  .body-crew {
      padding: 0;
  }

  .home, .destination, 
  .crew, .technology {
    margin-left: 0;
    margin-right: 0;
  }
}