@use '../base/mixvars' as *;

body {
  color: $white;  
  padding: 2em 0 0 2em;
  background-color: $dark-blue;
}

a {
  color: $white  
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0;
  }
}