@use '../base/variables' as *;
@use '../base/mixin' as *;

.dash {
    &__hedda {
        @include flexRow(space-between);
        align-items: center;
    }

    &__titleBox {@include flexColumn(space-between);}
    &__title {margin: 0; }
    &__subtitle {color: $desaturatedBlue}

    &__switchBox {
        width: 11em;
        min-width: 9.5em;
        @include flexRow(space-between);
        align-items: center;
    }

    &__switch-txt {color: $desaturatedBlue;}

    &__d-switch, &__w-switch {
        width: 4em;
        height: 2em;
        padding: 0 4px;
        border: none;
        border-radius: 50px;
        background-image: $darkBtn;
        position: relative;

        @include flexRow(start);
        align-items: center;
    }
    &__d-ball, &__w-ball{
        display: inline-block;
        
        width: 1.43em;
        height: 1.43em;
        background-color: $darkBlue;
        border-radius: 50px;
    }
    
    /* styles when where the theme is white */
    &__w-switch {
        background: $lightBtn;
    }
    &__w-ball {
        background-color: $white;
        transform: translateX(140%);
    }
}

@media screen and (max-width: 680px) {
.dash {
    &__hedda {
        @include flexColumn(space-between);
        align-items: flex-start;
        margin-bottom: 3em;
    }
    &__titleBox {
        width: 100%; 
        padding-bottom: 2em;
        border-bottom: 1px solid $desaturatedBlue;
    }   
    
    &__switchBox {
        width: 100%;
        margin-top: 1em;
    }
}
}