@use '../base/mixin' as *;
@use '../base/variables' as *;

.overview {
    &__cardBox {
        height: 40%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        gap: 15% 3%;
    }

    &__card {
        width: 100%;
        height: 100%;
        padding: 1em 1.5em;

        background-color: $darkDesaturatedBlue;
        border-radius: 5px;

        @include flexColumn(space-between);
    }


    &__card:hover {background-color: $darkDesBlue}


    /* card when white */

    &__w-card {background-color: $lightGrayishBlue;}
    &__w-card:hover {background-color: $lgb;}
    
    
    /* --------------- */

    &__top,
    &__bottom {
        @include flexRow(space-between);
    }

    &__bottom {align-items: flex-end;}

    &__stmnt {color: $desaturatedBlue;}
    &__number {font-size: 2em;}

    &__card:nth-child(1) &__percent,
    &__card:nth-child(3) &__percent,
    &__card:nth-child(4) &__percent,
    &__card:nth-child(5) &__percent,
    &__card:nth-child(6) &__percent {
        color: $limeGreen;
    }

    &__card:nth-child(1) &__arrow,
    &__card:nth-child(3) &__arrow,
    &__card:nth-child(4) &__arrow,
    &__card:nth-child(5) &__arrow,
    &__card:nth-child(6) &__arrow {
        transform: rotate(180deg);
        color: $limeGreen;
    }


    &__card:nth-child(2) &__arrow,
    &__card:nth-child(7) &__arrow,
    &__card:nth-child(8) &__arrow,
    &__card:nth-child(2) &__percent,
    &__card:nth-child(7) &__percent,
    &__card:nth-child(8) &__percent {
        color: $brighRed;
    }

}

/* MEDIA FOR MORE SMALL SCREENS AND TABLETS*/

@media screen and (max-width: 1220px){
    .overview {
        &__cardBox {
            height: 70vh;
            margin-bottom: 3em;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 8% 5%;
        }
    }
}


@media screen and (max-width: 840px) {
    .overview {margin-top: 5em;}
}