:root {
  --trans: all 300ms;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

li {
  list-style: none;
  user-select: none;
  cursor: pointer;
}

a {
  color: #000000;
  transition: var(--trans);
  font-size: 20px;
}

a:hover {
  color: #cdf3f3;
}

/* ------------------------- */
/* the navigation bar */

.navBar {
  background-color: #5687e2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
}

.navBar .logo {
  width: 60px;
  grid-column: 2 / 3;
}

.navBar .menu {
  display: flex;
  justify-content: space-around;
  grid-column: 3 / 7;
}

.menu li {
  transition: var(--trans);
}

.menu li:hover {
  color: #eee;
}

.navBar .shoping {
  grid-column: 8 / 9;
}

.navBar .menu-bars {
  display: none;
}

/* ------------- */
/* MAIN */

.main {
  width: 100vw;
  height: 85vh;
  background-image:url(../../Pagina-web_Artista-master/img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.main__cont {
  grid-column: 2 / 3;
  color: #eee;
  padding-right: 5em;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.main__cont h3 {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.main__cont h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  text-shadow: 10px 10px 10px #6a086d81;
}

.main__cont p {
  font-family: 'Montserrat', sans-serif;
}

.main__cont .button {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #5687e2;
  border-radius: 50px;
  margin-top: 30px;
  color: #eee;
}

.main__cont .button:hover {
  border: 1px solid transparent;
  background-image: linear-gradient(135deg, #5687e2 , #4177db 60%);
}

/* --------------- */
/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, minmax(48px, 52));
}

.footer__listen {
  background-color: #361ab6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__listen h3 {
  font-size: 18px;
}

.footer__listen .fas {
  font-size: 28px;
}

.footer__follow {
  background-color: #4e0d8b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}

.footer__social {
  background-color: #4e0d8b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__social .fab {
  font-size: 28px;
}