@mixin flexColumn($jc) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
}

@mixin flexRow($jc) {
    display: flex;
    flex-direction: row;
    justify-content: $jc;
}

@mixin flex($jc, $ai: flex-start, $fd: row) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}
