* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #333;
}

a {
    color: #333;
}

.title {
    text-align: center;
    margin: .7em;
}

#canvas {
    background-color: #fff;
    cursor: crosshair;
}

.edit {
    padding: 0 3em;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.edit div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=color] {
    width: 4em;
    border: none;
    cursor: pointer;
}

input[type=range] {
    width: 20em;
    background-color: red;
}
input[type=range]:active {cursor:grabbing}
input[type=range]:focus {outline: none;}


/* clean button */
#clean {
    width: max-content;
    height: max-content;
    padding: .4em 1em;
    border-radius: 3px;
    border: 2px solid #aaa;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ddd;
}

#clean:active {transform: scale(.95);}
