@use '../base/vars' as *;

.section-productive {
    @include flex-center;
}

.productive {
    padding: 3em;
    max-width: 460px;

    &__info {
        height: 14em;
        margin-top: 3em;
        
        @include flex-col;
        justify-content: space-between;
    }
    &__title, 
    &__p {
        color: $white;
    }

    &__title {font-family: $raleway;}

    &__howWork {
        margin: 1em 0;
     }

    &__button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: transparent;
        border: none;
        outline: none;
        padding: .4em;
  
        position: relative;
        color: $cyan2;
        cursor: pointer;
        overflow: hidden;
  
        &::before {
           content: '';
           display: block;
           width: 100%; 
           height: 100%;
           position: absolute;
           left: 0; bottom: 0;
  
           background-color: $cyan2;
           transform: translateY(90%);
           transition: .3s transform ease;
           z-index: -1;
        }
  
        &:active {color: $white;}
        &:active::before {background-color: $white;}
     }
     &__i {
        height: 1em;
        cursor: pointer;
        fill: $cyan2;
     }
     &__button:active &__i {fill: $white}

    @media screen and (min-width: 920px) {
        max-width: 90%;
        display: flex;
        align-items: center;
        gap: 5%;

        &__img {
            max-width: 50%;
        }
    }
}