@use '../base/mixin' as *;
@use '../base/variables' as *;

* {font-size: 14px;}


body {
    font-family: $inter;
    padding: 2em 10%;
    background-color: $darkBlue;
    color: $white;
}

.body-light {background-color: $white; color: $darkBlue;}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track-piece {background-color: $darkDesBlue;}
// ::-webkit-scrollbar-track {background-color: red;}
// ::-webkit-scrollbar-corner {background-color: blue;}
// ::-webkit-scrollbar-button {background-color: blueviolet;}
::-webkit-scrollbar-thumb {background-color: $desaturatedBlue; border-radius: 5px;}