//---VARIABLES--
//--colors
    $darkBlue1: hsl(217, 28%, 15%); //intro and email sign up background
    $darkBlue2: hsl(218, 28%, 13%); //main background
    $darkBlue3: hsl(216, 53%, 9%);  //footer bg
    $darkBlue4: hsl(219, 30%, 18%); //testimonial bg

    $cyan : hsl(176, 68%, 64%); //inside call-to-action gradient
    $cyan2 : hsl(187, 62%, 58%); //inside call-to-action gradient
    $blue: hsl(198, 60%, 50%); //inside call-to-action gradient
    $lightRed: hsl(0, 100%, 63%); //error
    $white: hsl(0, 0%, 100%);
//--fonts ||font-size: 14px;
    $openSans: 'Open Sans', sans-serif; //body
    $raleway: 'Raleway', sans-serif; //Headings, Call-to-actions, Header Navigation
//---END VARIABLES---

body {
    background-color: $darkBlue2;
    font-size: 14px;
    font-family: $openSans;
    color: $white;
}

ul {
    list-style-type: none;
}

/* =====NAVIGATION BAR===== */
.nav {
    & .menu {
        padding: 1em 2em;
        background-color: $darkBlue1;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            width: 6em;
        }

        &__links {
            width: 50%;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        &__item {color: $white;}
        &__item:hover {text-decoration:underline;}
    }
}

/* =====SECTION INTRO===== */
.intro {
    height: 92.7vh;
    padding: 3em;
    
    background-color: $darkBlue1;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &__titel,
    &__p,
    &__button {
        position: relative;
        z-index: 100;
    }

    &__title {
        margin: 0;
        font-family: $raleway;
        color: $white;
    }
    
    &__p {
        height: 20%;
        margin: 0;
        color: $white;
        line-height: 1.1rem;
        font-size: 1rem;

        display: flex;
        align-items: center;
    }

    &__button {
        padding: 1em 3em;
        border-radius: 50px;
        border: none;

        background-color: $cyan2;
        color: $white;

        font-size: 1rem;
        font-family: $raleway;
        font-weight: 700;

        transition: background-color 100ms, box-shadow 100ms;
    }
    &__button:hover {
        background-color: $blue;
        box-shadow: 5px 5px 5px $darkBlue3;
    }
}
.intro::before {
    content: '';
    width: 100%;
    height: 30%;
    display: block;

    background: url(../../assets/images/bg-curvy-mobile.svg) no-repeat;
    background-size: contain;
    background-position-y: 100%;
    position: absolute;
    bottom: 0;
    // z-index: -100;
}

/* =====INFO===== */
.info {
    padding: 0 3em;
    margin-top: 6em;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 4em;
    
    &__card {
        width: 100%;
        height: 20em;
        padding: 1em 2em;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    &__icon {width: 8em;}
    &__icon-security {width: 6em;}
    &__icon-access {width: 7em;}
    
    &__text, 
    &__title {
        color: $white;
        text-align: center;
    }
}

/* =====STAY PRODUCTIVE===== */
.productive {
    padding: 3em;

    &__info {
        height: 14em;
        margin-top: 3em;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title, 
    &__p {
        color: $white;
    }

    &__title {font-family: $raleway;}

    &__howWork {
        width: max-content;
        padding-bottom: .3em;

        box-shadow: 0 1px $cyan;
        position: relative;
        user-select: none;
        overflow: hidden;
    }
    &__button {
        margin-right: .7em;
        position: relative;
        
        background-color: transparent;
        border: none;
        outline: none;
        color: $cyan;
    }
    &__i {
        position: relative;
        color: $cyan;
    }

    &__howWork::before {
        content: '';
        width: 100%;
        height: 100%;
        
        background-color: $cyan2;
        display: block;

        position: absolute;
        z-index: -100;
        transform: translateY(100%);
        transition: transform 100ms ease-in;
    }
    &__howWork:hover::before {
        transform: translateY(0%);
    }

    &__howWork:hover {box-shadow: none;}
    &__howWork:hover &__button, 
    &__howWork:hover &__i {
        cursor: pointer;
        color: $darkBlue3;
    }
}

/* =====TESTIMONY===== */
.testimony {
    padding: 0 3em;
    margin-top: 5em;


    &__quotes {
        transform: scale(.7) translateY(50%);
    }

    &__cardsBox {
        display: grid;
        grid-template-rows: repeat(3, 13em);
        gap: 3em;
    }

    &__card {
        padding: 2em;
        border-radius: 5px;

        background-color: $darkBlue4;
        color: $white;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__profile {
        display: flex;
    }
    &__photoP {
        width: 3em;        
        margin-right: 1em;
        border-radius: 50%;
    }

    &__profileInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__name {font-family: $raleway;}
    &__job {font-size: .8em;}
    
}

/* =====FORM===== */
.subscribe {
    height: 25em;
    margin: 6em 6%;
    padding: 0 3em;

    background-color: $darkBlue1;
    color: $white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    &__title {font-family: $raleway;}

    &__form {
        height: 40%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__input, &__button {
        height: 4em;
        border-radius: 50px;
        border: none;
    }

    &__input {padding: 0 1em;}
    &__input:focus {
        outline: 2px solid $blue;
        background-color: #eee;
    }

    &__button {
        background-color: $cyan2;
        color: $white;
        font-weight: 700;
        font-size: 1rem;
        transition: background-color 100ms, box-shadow 100ms;
    }
    &__button:hover {
        background-color: $blue;
        box-shadow: 5px 5px 5px $darkBlue3;
    }
}