/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

$noto: 'Noto Sans JP', sans-serif;
$monserrate: 'Montserrat', sans-serif;
$assistant: 'Assistant', sans-serif;

/* colors */
$lightSeeGreen: #20b2aa; //navigation bar
$lsgLess: #147772; //navigation bar
$white: #fff; //text
$grayWhite: #f2f2f2; //bg-color
$darkGrayGreen: #1D2F3D; //aside
$darkGrayBlue: #1D2F3D; //link hover
$black: #070716;