* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 80vh;
    /* background: url('assets/pexels-henry-&-co-1939485.jpg') no-repeat; */
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 2em;
    color: #333;
}

.chat-area {
    width: 40em;
    background-color: #eee;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888;
    
}

.messages {
    /* background: url('assets/bg-chat.jpg'); */
    background-size: cover;
    min-height: 4em;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    border-radius: 5px;

}

.message {
    max-width: 40%;
    width: max-content;
    padding: .5em;
    margin-bottom: .5em;
}

.incoming {
    background-color: #ddd;
    border-radius: 8px 8px 8px 0; 
}

.outgoing {
    background-color: #313aa3;
    justify-self: end;
    border-radius: 8px 8px 0 8px;
    color: #eee;
}

.send-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.entry {
    /* width: 100%; */
    flex-grow: 1;
    height: 2.5em;
    padding: 0 1em;

    border-radius: 2.5em;
    border: none;
    outline: none;
    
    background-color: #ddd;
    
}

.send {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-left: .5em;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: #5555;
    color: #444;
}

.ready-send {
    background-color: #313aa3;
    color: #eee;
}