@use '../base/mixin' as *;
@use '../base/variables' as *;

body {
    font-family: $Monserrat;
    color: $darkLavander;
    background-color: $apricot;
    padding-bottom: 3em;
    
}

ul {
    list-style: none;
}