@use '../base/mixin' as *;
@use '../base/variables' as *;


header {position: relative;}

.nav {
    background-color: $lightSeeGreen;
    @include flexRow(space-between);
    padding: .7em 5%;

    position: sticky;
    top: 0;
    
    &__logo {
        font-family: $assistant;
        font-weight: 700;
        letter-spacing: -2px;
        font-size: 2.5rem;
        margin: 0;
        text-shadow: 2px 2px 5px $lsgLess;
        cursor: pointer;
    }

    &__container {
        width: 60%;
        @include flexRow(space-between);
        align-items: center;
    }

    &__item{
        position: relative;
        z-index: 10;
    }
    &__item::before {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: $black;
        
        position: absolute;
        bottom: 0;
        transition: transform 300ms, width 300ms;
    }
    
    &__item:hover::before {
        width: 100%;
        transform: translateX(0);
        z-index: -1;
    }
    
    &__icon, &__txt {
        transition: color 300ms;
        color: $black;
    }

    &__img-container {
        height: calc(100vh - 4.27em);
        background: url(../../../assets/main-photo.jpg) no-repeat;
        background-size: cover;
    }
}

