@use '../base/mixvars' as *;

.body-crew {
    background-image: url(../../../assets/crew/background-crew-desktop.jpg);
}

.crew {
    @include flex(space-between);
    height: 71vh;
     
    &__left {
        @include flex(space-between, stretch, column);
        height: 80%
    }

    &__character {
        @include flex(stretch, stretch, column);
        font-family: $belefair;
        text-transform: uppercase;
        font-weight: lighter;

        & span:first-child {
            color: $gray;
        }

        & span:last-child {
            font-size: 56px;
        }
    }

    &__characterDescription {
        margin-top: 1em;
        max-width: 508px;
    }

    &__changer {
        width: 6em;
        height: 1em;
        @include flex(space-between, center);
    }

    &__dot {
        width: 1em;
        height: 1em;
        display: inline-block;
        border-radius: 2em;
        border: none;
        
        background-color: $dark-blue-light;
        cursor: pointer;

        @include transition(transform);

        &:active {
            transform: scale(50%);
        }
    }

    .active-dot {
        background-color: $white;
    }

    &__right {
        height: 100%;
    }

    &__img{
        height: 100%;
    }
}