@use '../base/mixvars' as *;

.home-body {
    background-image: url(../../../assets/home/background-home-desktop.jpg);    
}

.home {
    @include flex(space-between, center);

    &__context {
        max-width: min-content;
    }

    &__title {
        font-family: $barlow-condensed;
        @include flex(space-between, stretch, column);
        font-size: 28px;
    }

    &__heading {
        font-size: 150px;
        font-family: $belefair;
        font-weight:lighter;
    }

    &__button {
        width: 15em;
        height: 15em;
        border: none;
        border-radius: 50%;
        position: relative;

        
        &::before {
            @include before(100%, 100%);
            border-radius: 50%;
            background-color: hsla(0, 0%, 100%, 0.502);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            @include transition(transform);
        }

        &:hover::before {
            transform: scale(1.5);
        }
        
        & a {
            display: block;
            width: 100%;
            height: 100%;
            color: $dark-blue;
            text-transform: uppercase;
            @include flex(center, center);
            font-family: $belefair;
            font-size: 2em;
            font-weight: lighter;
        }
    }
}