@use '../base/mixvars' as *;

.body-technology {
    background-image: url(../../../assets/technology/background-technology-desktop.jpg);
}

.technology {
    margin-right: 0;

    &__content {
        @include flex(space-between);
    }

    &__left {
        @include flex(space-between, center);
        flex-shrink: 3;
        margin-right: 7em;
    }

    &__nav {
        height: 100%;
    }

    &__ul {
        list-style: none;
        height: 100%;
        padding: 70% 0;
        @include flex(space-between, stretch, column);
    }

    &__btn {
        background: none;
        color: $light-blue;
        border: none;
        cursor: pointer;
        
        width: 80px; height: 80px;
        font-family: $belefair;
        font-size: 32px;
        cursor: pointer;
        border: 1px solid $light-blue;
        border-radius: 50%;
        @include flex(center, center);

        &:hover {
            color: $white;
            border: 1px solid $white;
        }
    }

    .active-btn {
        color: $dark-blue;
        background-color: $white;
        border: 1px solid $white;
    }

    &__context {
        max-width: 70%;
    }

    &__machines {
        @include flex(stretch, stretch, column);
        text-transform: uppercase;
        font-weight: lighter;

        & span:first-child {
            color: $gray;
            font-family: $barlow-condensed;
        }
        
        & span:last-child {
            font-family: $belefair;
            font-size: 56px;    
        }
    }

    &__description {margin-top: 1em;}
    
}

@media screen and (max-width: 768px) {
    header {
        margin-left: 2em;
    }
    .body-technology {
        background-image: url(../../../assets/technology/background-technology-tablet.jpg);
        padding: 0;
    }

    .technology {
        margin-left: 0;

        &__title {margin-left: 2em;}
        
        &__content {
            max-height: 70vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,1fr);
        }

        &__right {
            width: 100%;
            height: 19.4em;

            grid-row: 1 / 2;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }

        &__left {
            margin-right: 0;
            flex-direction: column;
            text-align: center;
        }

        &__nav {
            width: 100%;
            margin-top: 3em;
            height: max-content
        }

        &__ul {
            width: 50%;
            height: max-content;
            padding: 0;
            margin: 0 auto;
            @include flex(space-between, center,row);
        }

        &__context {
            margin-top: 3em;
        }
    }

}

@media screen and (max-width: 600px) {
    .technology {
        &__ul {
            width: 70%;
        }

        &__description {
            max-width: 80vw;
            margin-bottom: 3em;
        }
    }
}