@use '../base/mixins' as *;
@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/variables' as *;

/* ===== Section-intro ===== */
.section-intro {
   height: calc(100vh - 4.285714286em);
   background: linear-gradient($darkBlue1 60%, $darkBlue2 40%);
   position: relative;

   &::before {
      @include before(100%, 100%);
      top: 0; left: 0;
      // z-index: -1;
      background: 
      url(../../../assets/images/bg-curvy-mobile.svg)
      no-repeat;
      background-size: contain;
      background-position: 0 55%;
   }
}

.intro {
   height: 100%;
   padding-bottom: 4em;
   position: relative;
   @include flex(column, space-around, center, 1em);
   
   &__title {
      line-height: 1.2em;
   }
   
   &__p {
      font-size: 1.2em;
      line-height: 1.5em;
   }

   &__button {
      border:none;
      outline: none;
      background-color: $cyan2;
      width: 20em;
      max-width: 80%;
      padding: 1em 2em;
      border-radius: 10em;
      font-weight: bold;
      color: $white;
      cursor: pointer;

      &:hover, &:active {
         background-color: $blue;
      }
   }
}

/* ===== Section-info ===== */
.info {
   margin: 10em auto;
   width: 100%; height: max-content;
   // background-color: red;
   display: grid;
   grid-template: auto / 1fr;
   gap: 5em;

   &__card {
      max-width: 33em;
      margin: 0 auto;

   }
   
   &__title {
      margin: 1em 0;
   }
}

/* ===== Section-productive ===== */
.productive {
   margin: 7em 0;
   text-align: start;

   &__title {
      margin: 1.5em 0;
   }

   &__howWork {
      margin: 1em 0;
   }
   
   &__button {
      @include flex(row, stretch, center, .5em);
      background-color: transparent;
      border: none;
      outline: none;
      padding: .4em;

      position: relative;
      color: $cyan2;
      cursor: pointer;
      overflow: hidden;

      &::before {
         @include before (100%, 100%);
         left: 0; bottom: 0;

         background-color: $cyan2;
         transform: translateY(90%);
         transition: .3s transform ease;
         z-index: -1;
      }

      &:active {color: $white;}
      &:active::before {background-color: $white;}
   }
   &__i {
      height: 1em;
      cursor: pointer;
      fill: $cyan2;
   }
   &__button:active &__i {fill: $white}
   
}

/* ===== Section-testimony ===== */
.testimony {
   position: relative;

   
   &__cardsBox {
      display: grid;
      grid-template: auto / 1fr;
      gap: 3em;
   }
   
   &__quotes {
      width: 2em;
      position: absolute;   
      top: -5%; left: 3%;
   }
   
   &__card {
      padding: 2em;
      border-radius: $radius;
      background-color: $darkBlue4;
      position: relative;
   }

   &__profile {
      margin-top: 2em;
   }

   &__photoP {
      height: 6em;
      border-radius: 50%;
   }
}

/* ===== Section-subscribe Form ===== */
.section-subscribe {
   width: 100%;
   height: 350px;
   padding: 1em;
   position: relative;
}

.subscribe {
   padding: 2em 10%;
   @include flex(column, center, center, 2em);
   transform: translateY(30%);
   
   background-color: $darkBlue1;
   box-shadow: 5px 5px 5px hsla(0, 0, 0, 0.3);
   border-radius: $radius;

   &__form {
      width: 100%;
      @include flex(column, stretch, stretch, 2em);

      & input {
         $h: 3em;
         width: 100%;
         height: $h;
         border-radius: $h;
         padding: 0 1em;
         border: none;

         &:focus {outline: none}
      }
   }

   &__input {color: $darkBlue4}

   &__button {
      cursor: pointer;
      background-color: $cyan2;
      font-weight: bold;
      color: $white;
      
      &:hover, &:active {
         background-color: $blue;
      }
   }
}


/* 
   ====   ----------  ====  ----------  ====
   ---------------MEDIAQUERYS---------------
   ====   ----------  ====  ----------  ====
*/

@media screen and (min-width: 810px) {
   /* ===== Section-intro ===== */
   .section-intro {
      @include flex(column, center, center);
      background: linear-gradient($darkBlue1 80%, $darkBlue2 20%);

      &::before {
         background-position: 0 80%;
      }
   }
   .intro {
      padding-top: 2em;
      max-width: 648px;

      &__img {
         max-width: 70%;
      }
   }
   

   /* ===== Section-productive ===== */
   .productive {
      &__i {
         transition: .3s transform ease;
         transform: translateX(-1300%);
      }

      /* ---Hover effect--- */
      &__button:hover &__i,
      &__button:active &__i {
         transform: translate(0);
         fill: $darkBlue3;
      }

      &__button:hover::before ,
      &__button:active::before {
         transform: translate(0);
      }

      &__button:hover,
      &__button:active {
         color: $darkBlue2;
         font-weight: bold;
      }
   }

   /* ===== Section-testimony ===== */
   .testimony {
      text-align: start;
      
      &__card {
         margin: 0 auto;
         max-width: 43.786666667em;
      }

      &__profile {
         @include flex(row, stretch, center, 2em);
      }
      &__photoP {
         height: 4em;
      }
   }

   /* ===== Section-subscribe Form ===== */
   .subscribe {
      margin: 0 auto;
      max-width: 60em;
   }
}


////=======desktop=======////
@media screen and (min-width: 1080px) {
   /* ===== Section-info ===== */
   .info { 
      grid-template-columns: repeat(2, 1fr);
   }

   /* ===== Section-productive ===== */
   .productive {
      @include flex(row);

      &__img {
         max-width: 40%;
         margin-right: 10%;
      }
   }

   /* ===== Section-testimony ===== */
   .testimony {
      &__cardsBox {
         grid-template-columns: repeat(3,1fr);
      }
   }
}
