@use '../base/mixins' as *;
@use '../base/variables' as *;

/* =====NAVIGATION BAR===== */
.nav {
    @include flex(row, space-between, center);
    padding: 1em 2em;

    .menu {
        @include flex(row, space-between, center);
        width: 50%;
        position: relative;
        
        &__logo-item {
            max-width: 7em;
        }

        & #marker {
            width: 0; height: .21em;
            background-color: $white;

            transition: left .3s, width .3s;
            position: absolute;
            left: 0;
            bottom: -.71em;
        }
    }
}
