:root {
    --violet: hsl(268, 40%, 49%);
    --magenta: hsl(310, 82%, 69%);

    --trans: all 300ms;
}

body {
    height: 99vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/bg-desktop.svg);
    background-color: var(--violet);
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#eee;
}

a:focus {
    outline: none;
}

/* the logo */
.logo-container {
    margin: 20px 0 40px 0; 
}

.logo {
    width: 160px;
}   

/* main */
.main-container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.left {
    margin: 0 60px 0 0;
    width: 100vw;
}

.right {
    width: 100vw;
}

.right h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.right p {
    font-size: 16px;
    line-height: 25px;
}

.registerButton {
    width:  150px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    box-shadow: 3px 5px 5px #3b3b3b;
    transition: var(--trans);
    outline: none;
    margin: 30px 0 0 0;
}

.registerButton:hover {
    background-color: var(--magenta);
}

.registerButton:active {
    transform: scale(.9);
}

.registerButton:focus {
    outline: none;
    border: 5px dotted var(--magenta);
}

/* social media icons */
.socialMedia {
    margin-left: auto;
    margin-bottom: 30px;    
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.socialMedia a {
    display: block;
}

.img-social {
    width: 20px;
}