// Colors:
    $darker: #071c2c;
    $d-Blue: #184e77;
    $d-BlueLight: #1e6091;
    $d-BlueLight2: #1a759f;
    $l-Blue: #168aad;
    $seaBlue: #34a0a4;
    $seaGreen: #52b69a;
    $l-green: #76c893;
    $l-green2: #99d98c;
    $l-greenYellow: #b5e48c;
    $paleYellow: #d9ed92;
    $softLightGreen: #cdecde;
// ------

//typography
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');
    $outfit: 'Outfit', sans-serif;
    $playfair: 'Playfair Display', serif; //serif
    $roboto: 'Roboto', sans-serif;
// ------

// shadow
    // $main-shadow: ;

// effects
    $hoverEffect-3: translate(-3px, -3px); 
    $hoverEffect-5: translate(-5px, -5px); 
