/* Colors */
/* $white: hsl(0, 0%, 100%); //bg */
/*  $DarkBlue: hsl(230, 17%, 14%);//(Text) */
* {
  font-size: 14px;
}

body {
  font-family: "Inter", sans-serif;
  padding: 2em 10%;
  background-color: #1e202a;
  color: white;
}

.body-light {
  background-color: white;
  color: #1e202a;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #374062;
}

::-webkit-scrollbar-thumb {
  background-color: #8b97c6;
  border-radius: 5px;
}