/* Colors */
/* $white: hsl(0, 0%, 100%); //bg */
/*  $DarkBlue: hsl(230, 17%, 14%);//(Text) */
.dash {
  /* styles when where the theme is white */
}
.dash__hedda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dash__titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dash__title {
  margin: 0;
}
.dash__subtitle {
  color: #8b97c6;
}
.dash__switchBox {
  width: 11em;
  min-width: 9.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dash__switch-txt {
  color: #8b97c6;
}
.dash__d-switch, .dash__w-switch {
  width: 4em;
  height: 2em;
  padding: 0 4px;
  border: none;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(90deg, #378fe6, #3eda82);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dash__d-ball, .dash__w-ball {
  display: inline-block;
  width: 1.43em;
  height: 1.43em;
  background-color: #1e202a;
  border-radius: 50px;
}
.dash__w-switch {
  background: #aeb3cb;
}
.dash__w-ball {
  background-color: white;
  -webkit-transform: translateX(140%);
          transform: translateX(140%);
}

@media screen and (max-width: 680px) {
  .dash__hedda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 3em;
  }
  .dash__titleBox {
    width: 100%;
    padding-bottom: 2em;
    border-bottom: 1px solid #8b97c6;
  }
  .dash__switchBox {
    width: 100%;
    margin-top: 1em;
  }
}