@use '../base/_mixin' as *;
@use '../base/_variables' as *;

body {
    background-color: $d-BlueLight2;
    font-family: $outfit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:$darker;
}

