@use '../base/mixins' as *;
@use '../base/variables' as *;

body {
   background-color: $darkBlue2;
   font-size: 14px;
   font-family: $openSans;
   line-height: 2.6em;
   color: $white;
}

ul {
   list-style-type: none;
}

p {
   line-height: 2em;
}