//--colors
$darkBlue1: hsl(217, 28%, 15%); //intro and email sign up background
$darkBlue2: hsl(218, 28%, 13%); //main background
$darkBlue3: hsl(216, 53%, 9%);  //footer bg
$darkBlue4: hsl(219, 30%, 18%); //testimonial bg

$cyan : hsl(176, 68%, 64%); //inside call-to-action gradient
$cyan2 : hsl(187, 62%, 58%); //inside call-to-action gradient
$blue: hsl(198, 60%, 50%); //inside call-to-action gradient
$lightRed: hsl(0, 100%, 63%); //error
$white: hsl(0, 0%, 100%);
//--fonts ||font-size: 14px;
$openSans: 'Open Sans', sans-serif; //body
$raleway: 'Raleway', sans-serif; //Headings, Call-to-actions, Header Navigation

$radius: 0.714285714em;

//-- MIXINS
@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin Button {
    padding: 1em 3em;
    border-radius: 50px;
    border: none;
    cursor: pointer;

    background-color: $cyan2;
    color: $white;

    font-size: 1rem;
    font-family: $raleway;
    font-weight: 700;

    transition: background-color 100ms, box-shadow 100ms;

    &:hover {
        background-color: $blue;
        box-shadow: 5px 5px 5px $darkBlue3;

    }
}
