@use 'base/mixin&vars' as *;

/* === General === */
body {
   height: 100vh;

   font-family: $Maven-Pro;
   font-size: 14px;
   font-weight: bold;
   background-color: $darkBlue;
}

ul {list-style: none;}

button {cursor: pointer;}

/* === == === */

/* === App === */
.app {
   width: 100%; height: 100%;
   min-width: 20.17em;
   @include flex(space-evenly, center,column);
   color: $white;
   // padding-bottom: 15%;
   position: relative;
}

.title {
   // margin: 2em 0 1em;
   font-size: 3em;
}

// --- modes ---
.modes {
   width: 80%;
   transform: translateY(-50%);
   max-width: 25.6em;
   &__ul {
      width: 100%; height: max-content;
      min-width: 20.17em;

      @include flex(space-between, center);
      background-color: $dark-darkBlue;
      padding: .5em;
      border-radius: $radius;
   }

   &__btn {
      padding: 1em 1.5em;
      font-size: .9em;
      border:none;
      border-radius: $radius;
      background-color: transparent;
      color: $blueGray;
      font-weight: bold;

      &:active {
         color: $lightGray;
      }
   }

   .active-mode {
      background-color: $pink;
      color: $darkBlue;
   }
   
   @media (max-width: 413px) {
      &__ul {
         height: 5em;
         padding: .1em .5em;
      }

      &__btn:first-child {
         height: 54.1667px;
      }
   }
}

// --- The pomodoro timer ---
.pomo-container {
   // flex-grow: 3;
   width: 80%; height: 23.64em;
   max-width: 23.64em;
   max-height: 23.64em;
   min-width: 23.64em;
   min-height: 23.64em;
   border-radius: 50%;

   background-image: linear-gradient(135deg,$dark-darkBlue 20%, $blueGray);
   @include flex(center, center);

   box-shadow: 
   -10px 0 50px $blueGray, 0 -10px 50px $blueGray,
   10px 0 40px $dark-darkBluePlus, 0 10px 40px $dark-darkBluePlus;
}

.pomo {
   width: 85%; height: 85%;
   user-select: none;
   border-radius: 50%;
   background-color: $dark-darkBlue;
   position: relative;

   @include flex(center, center, column);

   &__timer {
      font-family: $Open-Sans;
      font-size: 6em;
      transform: translateY(-0.1em);

      @include flex(center, center);
   } 

   &__status {
      position: absolute;
      bottom: 15%;
      
      &-button {
         background-color: transparent;
         border:none;
         color: $lightGrayLess;
         
         &:active {
            color: $white;
         }
         
         & i {font-size: 2em;}
      }
   }
   &:active {
      transform: scale(.99);
   }
}

/* === Settings button === */

.settings {
   margin-top: 3em;
   &__btn {
      background-color: transparent;
      border:none;
      color: $lightGrayLess;

      &:active {
         color: $white;
      }

      & i {font-size: 2em;}
   }
}
/* === == === */

/* === Modal window === */
.modal {
   width: 90%;
   height: 45%;
   max-width: 30em;
   max-height: 25em;
   min-width: 331.2px;
   margin: 0 2em;
   padding: 2em;
   
   background-color: $white;
   border-radius: 20px;
   color: $dark-darkBlue;
   
   position: absolute;
   top: auto; left: auto;
   
   
   @include flex(space-between, center, column);
   
   opacity: 0;
   visibility: hidden;
   transform: scale(0.95);
   transition: visibility 0s linear 0.3s, opacity 0.3s 0s, transform 0.3s;

   
   &__header, &__settings, &__color {width: 100%}
   
   &__header {
      @include flex(space-between, center);
      padding-bottom: 1em;
      border-bottom: 1px solid $lightGrayLess;
   }

   &__close {
      background: transparent;
      border: none;
   }

   &__settings {
      height: 80%;
      min-height: max-content;
      @include flex(space-between, stretch, column);
   }

   // ---- Changing the time section ----

   // &__time {}

   &__adjustTime {
      width: 100%;
      margin-top: 1em;
      @include flex(space-between, center);
      position: relative;
      
      & label {
         display: block; 
         max-width: 6em;
      }
   }

   &__input {
      width: 100%; height: 2em;
      color: $darkBlue;
      background-color: $lightGrayLess;
      border: none;
      border-radius: 5px;
      padding-left: .5em;
   }

   // ---- Auto start section ----
   &__options {
      height: 20%;
      @include flex(space-between, stretch, column);

      &--option {
         width: 100%;
         @include flex (space-between);
      }
   }
   
   // ---- Choosing theme section ----
   &__subtitle {text-transform: uppercase;}

   &__choose-main-color {
      @include flex(space-between, center);
      // margin-top: 5em;
      padding: 1em 0;
   }

   &__palette {
      @include flex(space-between, center);
      min-width: 40%;
   }

   &__color {
      width: 2em; height: 2em;
      position: relative;
      appearance: none;
      
      &::before {
         @include before(100%, 100%);
         position: absolute;
         border-radius: 50%;
         top: 0; left: 0;
         z-index: 100;
         cursor: pointer;
      }
      
      &:checked &::before{
         background-color: red;
      }

      &:first-child::before {background-color: $pink;}
      &:nth-child(2)::before {background-color: $turcoise;}
      &:last-child::before {background-color: $purple;}
   }


   &__btn {
      padding: .7em 2em;  
      border-radius: 5em;
      border: none;
      background-color: $pink;
      color: $white;
      font-weight: bold;
      position: absolute;
      bottom: -1em; left: 37%;
   }

}

.show-modal {
   opacity: 1;
   visibility: visible;
   transform: scale(1.0);
   transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* === == === */



/* === tablet and desktop view === */
@media screen and(min-width: 700px) {
   body {
      font-size: 16px;
   }  

   .modes {
      max-width: 28em;
      &__btn {
         font-size: 1em;

         &:hover {
            background-color: $darkBlue;
         }

      }
      .active-mode:hover {
         background-color: $pink;
      }
   }
}