@use 'base/mixin&vars' as *;

/* === General === */
body {
   height: 100vh;

   font-family: $Maven-Pro;
   font-size: 14px;
   font-weight: bold;
   background-color: $darkBlue;
}

ul {list-style: none;}

button {cursor: pointer;}

/* === == === */

/* === App === */
.app {
   width: 100%; height: 100%;
   min-width: 20.17em;
   @include flex(space-evenly, center,column);
   color: $white;
   // padding-bottom: 15%;
}

.title {
   // margin: 2em 0 1em;
   font-size: 3em;
}

// --- modes ---turcoise
.modes {
   width: 80%;
   transform: translateY(-50%);
   max-width: 25.6em;
   &__ul {
      width: 100%; height: max-content;
      min-width: 20.17em;

      @include flex(space-between, center);
      background-color: $dark-darkBlue;
      padding: .5em;
      border-radius: $radius;
   }

   &__btn {
      padding: 1em 1.5em;
      font-size: .9em;
      border:none;
      border-radius: $radius;
      background-color: transparent;
      color: $blueGray;
      font-weight: bold;

      &:active {
         color: $lightGray;
      }
   }

   .active-mode {
      background-color: $pink;
      color: $darkBlue;
   }
   
   @media (max-width: 413px) {
      &__ul {
         height: 5em;
         padding: .1em .5em;
      }
   }
}

// --- The pomodoro timer ---
.pomo-container {
   // flex-grow: 3;
   width: 80%; height: 23.64em;
   max-width: 23.64em;
   max-height: 23.64em;
   min-width: 23.64em;
   min-height: 23.64em;
   border-radius: 50%;

   background-image: linear-gradient(135deg,$dark-darkBlue 20%, $blueGray);
   @include flex(center, center);

   box-shadow: 
   -10px 0 50px $blueGray, 0 -10px 50px $blueGray,
   10px 0 40px $dark-darkBluePlus, 0 10px 40px $dark-darkBluePlus;
}

.pomo {
   width: 85%; height: 85%;
   user-select: none;
   border-radius: 50%;
   background-color: $dark-darkBlue;
   position: relative;

   @include flex(center, center, column);

   &__timer {
      font-family: $Open-Sans;
      font-size: 6em;

      @include flex(center, center);
   } 

   &__status {
      position: absolute;
      bottom: 15%;
      
      &-button {
         background-color: transparent;
         border:none;
         color: $lightGrayLess;
         
         &:active {
            color: $white;
         }
         
         & i {font-size: 2em;}
      }
   }
}

// --- The pomodoro timer ---
.settings {
   margin-top: 3em;
   &__btn {
      background-color: transparent;
      border:none;
      color: $lightGrayLess;

      &:active {
         color: $white;
      }

      & i {font-size: 2em;}
   }
}
/* === == === */

/* === tablet and desktop view === */
@media screen and(min-width: 700px) {
   body {
      font-size: 16px;
   }  

   .modes {
      max-width: 28em;
      &__btn {
         font-size: 1em;
      }
   }
}