/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
/* colors */
header {
  position: relative;
}

.nav {
  background-color: #20b2aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.7em 5%;
  position: sticky;
  top: 0;
}
.nav__logo {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 2.5rem;
  margin: 0;
  text-shadow: 2px 2px 5px #147772;
  cursor: pointer;
}
.nav__container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item {
  position: relative;
  z-index: 10;
}
.nav__item::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #070716;
  position: absolute;
  bottom: 0;
  -webkit-transition: width 300ms, -webkit-transform 300ms;
  transition: width 300ms, -webkit-transform 300ms;
  transition: transform 300ms, width 300ms;
  transition: transform 300ms, width 300ms, -webkit-transform 300ms;
}
.nav__item:hover::before {
  width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: -1;
}
.nav__icon, .nav__txt {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  color: #070716;
}
.nav__img-container {
  height: calc(100vh - 4.27em);
  background: url(../../../assets/main-photo.jpg) no-repeat;
  background-size: cover;
}