@use '../base/mixins' as *;
@use '../base/variables' as *;

/* ===== SECTION INTRO ===== */
.intro {
   height: calc(100vh - 4.03em);
   padding: 3em;
   
   background: linear-gradient($darkBlue1 50%, $darkBlue2 50%);
   text-align: center;
   
   position: relative;

   @include flex(column, space-between, center);

   //the gb curvy
   &__bgcurvy {
      position: absolute;
      top: 50%; left: 0;
      transform: translateY(-80%);
   }

   &__img {position: relative;}
    
   &__title,
   &__p,
   &__button {
      position: relative;
      z-index: 100;
   }

   &__title {
      margin: 0;
      font-family: $raleway;
      color: $white;
   }
   
   &__p {
      height: 20%;
      margin: 0;
      color: $white;
      font-size: 1em;

      display: flex;
      align-items: center;
   }

   &__button {
      width: 80%;
   }
}

/* ===== INFO ===== */
.info {
   padding: 0 3em;
   margin-top: 6em;
   display: grid;
   grid-template-rows: repeat(4, 1fr);
   gap: 4em;
   
   &__card {
      width: 100%;
      height: 20em;
      padding: 1em 2em;
      
      @include flex(column, space-around, center);
   }
   &__icon {width: 8em;}
   &__icon-security {width: 6em;}
   &__icon-access {width: 7em;}
   
   &__text, 
   &__title {
      color: $white;
      text-align: center;
   }
}

// /* =====STAY PRODUCTIVE===== */
// .productive {
//     padding: 3em;

//     &__info {
//         height: 14em;
//         margin-top: 3em;
        
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//     }
//     &__title, 
//     &__p {
//         color: $white;
//     }

//     &__title {font-family: $raleway;}

//     &__howWork {
//         width: max-content;
//         padding-bottom: .3em;

//         box-shadow: 0 1px $cyan;
//         position: relative;
//         user-select: none;
//         overflow: hidden;
//     }
//     &__button {
//         margin-right: .7em;
//         position: relative;
        
//         background-color: transparent;
//         border: none;
//         outline: none;
//         color: $cyan;
//     }
//     &__i {
//         position: relative;
//         color: $cyan;
//     }

//     &__howWork::before {
//         content: '';
//         width: 100%;
//         height: 100%;
        
//         background-color: $cyan2;
//         display: block;

//         position: absolute;
//         z-index: -100;
//         transform: translateY(100%);
//         transition: transform 100ms ease-in;
//     }
//     &__howWork:hover::before {
//         transform: translateY(0%);
//     }

//     &__howWork:hover {box-shadow: none;}
//     &__howWork:hover &__button, 
//     &__howWork:hover &__i {
//         cursor: pointer;
//         color: $darkBlue3;
//     }
// }

// /* =====TESTIMONY===== */
// .testimony {
//     padding: 0 3em;
//     margin-top: 5em;


//     &__quotes {
//         transform: scale(.7) translateY(50%);
//     }

//     &__cardsBox {
//         display: grid;
//         grid-template-rows: repeat(3, 13em);
//         gap: 3em;
//     }

//     &__card {
//         padding: 2em;
//         border-radius: 5px;

//         background-color: $darkBlue4;
//         color: $white;
        
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//     }

//     &__profile {
//         display: flex;
//     }
//     &__photoP {
//         width: 3em;        
//         margin-right: 1em;
//         border-radius: 50%;
//     }

//     &__profileInfo {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }
//     &__name {font-family: $raleway;}
//     &__job {font-size: .8em;}
    
// }

// /* =====FORM===== */
// .subscribe {
//     height: 25em;
//     margin: 6em 6%;
//     padding: 0 3em;

//     background-color: $darkBlue1;
//     color: $white;

//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     text-align: center;

//     &__title {font-family: $raleway;}

//     &__form {
//         height: 40%;

//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//     }

//     &__input, &__button {
//         height: 4em;
//         border-radius: 50px;
//         border: none;
//     }

//     &__input {padding: 0 1em;}
//     &__input:focus {
//         outline: 2px solid $blue;
//         background-color: #eee;
//     }

//     &__button {
//         background-color: $cyan2;
//         color: $white;
//         font-weight: 700;
//         font-size: 1rem;
//         transition: background-color 100ms, box-shadow 100ms;
//     }
//     &__button:hover {
//         background-color: $blue;
//         box-shadow: 5px 5px 5px $darkBlue3;
//     }
// }