@use '../base/mixin' as *;
@use '../base/variables' as *;


header {position: relative;}

@mixin Button {
    cursor: pointer;
    border: none;
    background-color: $lightSeeGreen;
    padding: 10px 15px;
    transition: box-shadow 0.2s, transform 0.2s;

    &:hover {
        box-shadow: -5px 5px $black;
        transform: translate(2px, -2px);
    }

    &:active {
        transform: translate(0);
        box-shadow: none;
    }
}

.nav {
    background-color: $lightSeeGreen;
    @include flexRow(space-between);
    padding: .7em 5%;

    position: sticky;
    top: 0;
    
    &__logo {
        font-family: $assistant;
        font-weight: 700;
        letter-spacing: -2px;
        font-size: 2.5rem;
        margin: 0;
        text-shadow: 2px 2px 5px $lsgLess;
        cursor: pointer;
    }

    &__openMenu {
        display: none;
    }

    &__container {
        width: 60%;
        @include flexRow(space-between);
        align-items: center;
    }

    &__closeNav {
        display: none;
    }

    &__item {
        position: relative;
        z-index: 10;
        display: flex;
        gap: 10px;
    }
    &__item::before {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: $black;
        
        position: absolute;
        bottom: 0;
        transition: transform 300ms, width 300ms;
    }
    
    &__item:hover::before {
        width: 80%;
        transform: translateX(0);
        z-index: -1;
    }
    
    &__icon, &__txt {
        transition: color 300ms;
        color: $black;
    }

    &__img-container {
        height: calc(100vh - 4.27em);
        background: url(../../../assets/main-photo.jpg) no-repeat;
        background-size: cover;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0 5%;
        text-shadow: -10px -10px 10px rgba(#000000, 0.9);
    }

    // HEADER SECTION
    &__title {
        font-size: 4rem;
        font-family: serif;
        margin-top: 0;
    }

    &__stm {
        max-width: 60%;
        margin-bottom: 2rem;
    }

    &__btn {
        @include Button
    }
    
    @media screen and (max-width: 810px) {
        &__container {
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($lightSeeGreen, .5);
            backdrop-filter: blur(2px);
            padding: 1rem;
            transform: translateY(-100%);
            transition: transform 0.3s;

            &.-visible {
                transform: translateY(0);
            }
        }


        &__item {
            padding: 1rem;
        }

        &__openMenu {
            @include Button;
            background-color: $grayWhite;
            display: block;
        }

        &__closeNav {
            display: block;
            background-color: transparent;
            padding: 2px 4px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
            
            &:hover {
                background-color: $lightSeeGreen;
            }
        }
    }
}

