@use './variables' as *;
@use './mixins' as *;

body {
   background-color: $darkBlue2;
   font-size: 14px;
   // font-family: 'Open Sans', sans-serif;
   font-family: 'Raleway', sans-serif;
   color: $white;
   text-align: center;
}

ul {
   list-style: none;
}

a {
   color: $white;
}

section {
   padding: 0 10%;
}

p {
   font-size: 1.2em;
   line-height: 1.5em;
}


/* 
   ====   ----------  ====  ----------  ====
   ---------------MEDIAQUERYS---------------
   ====   ----------  ====  ----------  ====
*/

// @media screen and (min-width: 810px) {

// }