/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
/* colors */
header {
  position: relative;
}

.nav {
  background-color: #20b2aa;
  display: flex;
  justify-content: space-between;
  padding: 0.7em 5%;
  position: sticky;
  top: 0;
}
.nav__logo {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 2.5rem;
  margin: 0;
  text-shadow: 2px 2px 5px #147772;
  cursor: pointer;
}
.nav__openMenu {
  display: none;
}
.nav__container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__closeNav {
  display: none;
}
.nav__item {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 10px;
}
.nav__item::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #070716;
  position: absolute;
  bottom: 0;
  transition: transform 300ms, width 300ms;
}
.nav__item:hover::before {
  width: 80%;
  transform: translateX(0);
  z-index: -1;
}
.nav__icon, .nav__txt {
  transition: color 300ms;
  color: #070716;
}
.nav__img-container {
  height: calc(100vh - 4.27em);
  background: url(../../../assets/main-photo.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 5%;
  text-shadow: -10px -10px 10px rgba(0, 0, 0, 0.9);
}
.nav__title {
  font-size: 4rem;
  font-family: serif;
  margin-top: 0;
}
.nav__stm {
  max-width: 60%;
  margin-bottom: 2rem;
}
.nav__btn {
  cursor: pointer;
  border: none;
  background-color: #20b2aa;
  padding: 10px 15px;
  transition: box-shadow 0.2s, transform 0.2s;
}
.nav__btn:hover {
  box-shadow: -5px 5px #070716;
  transform: translate(2px, -2px);
}
.nav__btn:active {
  transform: translate(0);
  box-shadow: none;
}
@media screen and (max-width: 810px) {
  .nav__container {
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(32, 178, 170, 0.5);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    padding: 1rem;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  .nav__container.-visible {
    transform: translateY(0);
  }
  .nav__item {
    padding: 1rem;
  }
  .nav__openMenu {
    cursor: pointer;
    border: none;
    background-color: #20b2aa;
    padding: 10px 15px;
    transition: box-shadow 0.2s, transform 0.2s;
    background-color: #f2f2f2;
    display: block;
  }
  .nav__openMenu:hover {
    box-shadow: -5px 5px #070716;
    transform: translate(2px, -2px);
  }
  .nav__openMenu:active {
    transform: translate(0);
    box-shadow: none;
  }
  .nav__closeNav {
    display: block;
    background-color: transparent;
    padding: 2px 4px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .nav__closeNav:hover {
    background-color: #20b2aa;
  }
}