/* Typography */
$Monserrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Playfair: 'Playfair Display', serif;

/* Colors */
$greenLight: #e1f7d5;
$durazno: #ffbdbd;
$desBlue: #c9c9ff;
$white: #fff;
$apricot: #ffcdb2;
$darkApricot: #e0b198;
$melon: #e0a799;
$darkMelon: #d19282;
$oldLavander: #6d6875;
$darkLavander: #221c44;
$desDarkLavander: #221c44a4;